.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: var(--space-sm) 0;
}

.label {
    color: var(--text-muted);
    margin-bottom: var(--space-sm);
}

.input {
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
    outline: none;
    color: var(--text);
    background: var(--surface);
}