.page {
    margin: 20px;
}

.heading {
    text-align: center;
}

.challengeList {
    width: 80%;
    margin: 20px auto auto;
    background: var(--surface);
    border-radius: 10px;
    list-style: none;
}

.challenge {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.challenge:hover {
    opacity: 0.7;
    background: var(--border);
    cursor: pointer;
}

.challenge a {
    text-decoration: none;
    color: var(--text);
    display: inline-block;
    width: 100%;
}