.loginPage {
    margin: auto;
    padding: var(--space-4xl) var(--space-2xl);
}

.heading, .registerLink {
    text-align: center;
}

.loginForm {
    width: 40%;
    margin: auto;
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.registerLink .link {
    color: var(--accent);
    font-weight: bold;
}