.runsTable tr, .runsTable th, .runsTable td {
    border-bottom: 1px solid var(--border);
}

.runsTable {
    width: 100%;
    margin: var(--space-md) auto;
    font-size: var(--fs-base);
    background: var(--surface);
    padding: 0 var(--space-lg);
    border-radius: var(--radius-lg);
}

.runsTable tr:last-child td {
    border: none;
}

.runsTable tr th, .runsTable tr td {
    padding: var(--space-xl) var(--space-2xl);
}

.runsTable tr th {
    text-align: left;
}

.runsTable td {
    color: var(--text);
}

.runsTable td a {
    color: var(--text);
}