.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.form .field label {
    color: var(--text-muted);
    margin-bottom: 5px;
}

.form .field input, .form .field select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--border);
    outline: none;
    color: var(--text);
    background: var(--surface);
}

.form .buttons {
    display: flex;
    flex-direction: row;
    gap: 5px
}

.form .buttons button {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 50%;
}

.form .buttons button:hover {
    cursor: pointer;
}

.form .buttons .cancel_btn {
    background: var(--surface);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.form .buttons .save_btn {
    border: none;
    background: var(--accent);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}