.form {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form .buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    margin-top: var(--space-md);
}